.create-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  border-radius: 10px;
  width: 500px;
}

.create-div input::placeholder {
  color: #6A778A;
}

.create-div form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
}

mdc-text-field {
  padding: 0 !important;
}

.create-div form button {
  width: calc(100% - 16px);
  height: 38px;
  margin: 16px 8px 0 8px;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
  background: #1A4157;
  border-radius: 10px;
  color: #FFFFFF;
  font-size: 20px;
  border: none;
}

.create-div form button:hover {
  cursor: pointer;
  color: #72AA45;
}

.create-div form button:disabled {
  background: #8a8d98;
}

@media (max-width: 800px) {
  .create-div {
    width: 306px;
  }
}
