<div class="create-div">
  <h2>Add Category</h2>

  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Category name</mat-label>
      <input
        matInput
        placeholder="Category name..."
        formControlName="categoryName"
        required
      />
      <mat-error *ngIf="categoryForm.get('categoryName')?.invalid">
        The name of the category is mandatory.
      </mat-error>
    </mat-form-field>

    <button mat-button type="submit" [disabled]="categoryForm.invalid">
      Add
    </button>
  </form>
</div>
