<div class="create-div">
  <h2>Adicionar Categoria</h2>

  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
<!--      <mat-label>Nome da categoria</mat-label>-->
      <input
        matInput
        placeholder="Nome da categoria..."
        formControlName="categoryName"
        required
      />
      <mat-error *ngIf="categoryForm.get('categoryName')?.invalid">
        O nome da categoria é obrigatório.
      </mat-error>
    </mat-form-field>

    <button
      mat-button
      type="submit"
      [disabled]="categoryForm.invalid"
    >
      Adicionar
    </button>
  </form>
</div>
