#decor1, #decor2, #decor3 {
  position: fixed;
  z-index: -1;
}

#decor1 {
  top: 10vh;
  right: -2vh;
  width: 10vw;
  height: 10vw;
}

#decor2 {
  top: 60vh;
  left: -10%;
  width: 20vw;
  height: 20vw;
}

#decor3 {
  bottom: 0;
  right: 0;
  width: 20vw;
  height: 20vw;
}
