<div class="container">
  <div class="register-container">
    <h1>Create account</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          id="username"
          formControlName="username"
          type="text"
          placeholder="Username..."
        />
        <div
          *ngIf="
            registerForm.get('username')?.invalid &&
            registerForm.get('username')?.touched
          "
        >
          <small class="error"
            >The username is compulsory and must be at least 3
            characters.</small
          >
        </div>
      </div>

      <div class="form-group">
        <input
          id="email"
          formControlName="email"
          type="email"
          placeholder="Email..."
        />
        <div
          *ngIf="
            registerForm.get('email')?.invalid &&
            registerForm.get('email')?.touched
          "
        >
          <small class="error">Enter a valid email address.</small>
        </div>
      </div>

      <div class="form-group">
        <input
          id="password"
          formControlName="password"
          type="password"
          placeholder="Password..."
        />
        <div
          *ngIf="
            registerForm.get('password')?.invalid &&
            registerForm.get('password')?.touched
          "
        >
          <small class="error"
            >The password is mandatory and must be at least 6 characters
            long....</small
          >
        </div>
      </div>

      <button type="submit" [disabled]="isSubmitting">Register</button>
      <button (click)="Logout()">Logout</button>

      <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
      </div>
    </form>
  </div>
</div>
